# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# Complete E-Commerce in React and Node.js (free) 🔥 | MERN Course in 15hrs | 11:46:01 / 15:08:31
